/* http://pordesign.eu */

/*===GENERAL======*/

html { height: 100%; } 

body { margin: 0; padding: 0; font-size: 10pt; line-height: 1.5em; font-family: Arial, Helvetica, sans-serif; height: 100%; min-height: 666px; overflow-x: hidden;}

label + label { margin-left: 20px; }

input { font-size: 10pt; background: #222;}

button,
select { font-size: 10pt; }

input[type="text"],
input[type="password"],
textarea { margin: 0; padding: 5px; width: 150px; font-size: 11pt; background: #222; border-radius: 5px; border: none;color: #999; cursor:text;-webkit-transition: all .2s ease-in; -moz-transition: all .2s ease-in; -o-transition: all .2s ease-in; font-family: Arial, Helvetica, sans-serif; border-bottom: 1px solid #202020; border-right: 1px solid #202020; }
input[type="text"],
input[type="password"] { background: url(../images/input-field.png) 0 0 repeat; }

.alignright { float: right; }
.alignleft { float: right; }

p { margin: 10px 0; padding: 0; }
.container p { margin: 5px 0; }

a { color: #099509; }
a:hover { color: #2de02d; }

.color-1 { color: #099509; }

strong { color: #d1d1d1; }

h1 { font-size: 2em; font-weight: normal; }

dl { margin: 0; padding: 0; }
dt { margin: 0; padding: 0; float: left; clear: left;}
dd { margin: 0; padding: 0 0 0 5px; float: left;}

/*LOADING SCREEN */
#loading-screen { background: #1d0000 url(../images/loading-gr.gif) 0 0 repeat; width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 999999; }
#loading-screen .icon { width: 640px; height: 240px; position: fixed; top: 50%; left: 50%; margin: -120px 0 0 -320px; background: url(../images/loading.jpg) 0 0 no-repeat; }
#loading-screen .progress-bar { width: 10px; height: 10px; background: url(../images/progress-bar.png) 0 0 no-repeat; position: fixed; top: 50%; left: 50%; margin: 22px 0 0 -295px; }

/* NAV */
#nav { position: fixed; bottom: 0; left: 0; width: 100%; height: 24px;box-shadow: #000 2px 2px 2px;-moz-box-shadow: #000 2px 2px 2px;-webkit-box-shadow: rgba(0,0,0,.8) 1px 1px 2px; background: #060606 url(../images/bg.png) 0 0 repeat; border-top: 1px solid #0f0f0f}

/*IRC WEBCHAT*/ 
#irc-webchat { position: fixed;  z-index: 99999; width: 966px; height: 492px; top: 50%; left: 50%; margin: -248px 0 0 -487px; display}
#irc-webchat iframe { width: 962px; height: 462px;  }
#irc-webchat .qwebirc-loginbox { background: red !important; color: yellow !important;  }
#irc-webchat.closed { display: none; }

#game-container { width: 1067px; min-height: 566px; margin: -280px 0 0 -520px; position: absolute; top: 50%; left: 50%;}
 
#pool { width: 1067px; height: 600px; }

/* SCOREBOARD */

#scoreboard.extended { height: 80px; width: 860px; margin: 243px 0 0 -448px; position: absolute; left: 50%; top: 50%;}
#scoreboard.extended:first-child { margin-top: -340px;}
#scoreboard.extended:first-child #frame-info { top: -40px; }

#scoreboard.extended #frame-info { width: 120px; height: 70px; position: absolute; z-index: 20; left: 50%; top: 10px; margin: 0 0 0 -66px; padding: 12px 8px 8px; font-size: 10pt; text-align: center; line-height: 1.65em;}

.extended #players > * { position: absolute; top: 0; width: 370px; color: #593e3e; -webkit-transition: color 1s ease-in; -moz-transition: color 1s ease-in; -o-transition: color 1s ease-in;}
.extended #players > *.current { color: rgb(130,153,145);}
.extended #players > *,
.extended #frame-info { text-shadow: #000 -1px -1px 1px;}
.extended .score { width: 85px; height: 70px; line-height: 70px; position: absolute; text-align: center; font-size: 30pt; padding-right: 5px; top: -4px; z-index: 3;}
.extended #frame-count { font-size: 1.1em; margin-top: -1px;}
.extended .lang {z-index: 10; position: absolute; border: 1px solid #401d12; border-top: 1px solid #130906; border-left: 1px solid #130906; }
.extended .name { width: 244px; height: 80px; line-height: 58px; overflow: hidden; position: absolute; top: 0; z-index: 2; }
.extended .time-left { width: 70px; height: 50px; line-height: 50px; position: absolute;top: 5px; text-align: center; z-index: 1; -webkit-transition: all .5s ease-in; -moz-transition: all .5s ease-in; -o-transition: all .5s ease-in; }
.extended .p1 { left: 0; }
.extended .p1 .score { right: -8px; }
.extended .p1 .lang {right: 96px; top: 23px;}
.extended .p1 .name { left: 0px; text-align: right; padding-right: 170px;}
.extended .p1 .time-left { padding-right: 10px; left: -10px;}
.extended .p1.current .time-left { left: -65px; }
.extended .p1.current .time-left { left: -65px; }
.extended .p2 { right: -10px; }
.extended .p2 .score { left: -13px;  }
.extended .p2 .lang {left: 87px; top: 23px;}
.extended .p2 .name { right: -40px; padding-left: 140px; width: 294px;}
.extended .p2 .time-left { right: -12px; padding-left: 0px; width: 80px; }
.extended .p2.current .time-left { right: -65px; }

* > #scoreboard.compact:first-child { margin-top: 5px;}
#scoreboard.compact #frame-info { width: 120px; height: 80px; position: absolute; z-index: 20; left: 50%; top: 10px; margin: 0 2px 0 -68px; padding: 7px 20px 20px 12px; font-size: 10pt; text-align: center; line-height: 1.75em;}
#scoreboard.compact { height: 30px; width: 900px; margin: -64px 0 0 -466px; position: absolute;left: 50%; font-size: 10pt;}
.compact #players > * { position: absolute; top: 0; width: 340px; color: rgb(60,83,75); -webkit-transition: color 1s ease-in; -moz-transition: color 1s ease-in; -o-transition: color 1s ease-in; height: 100%;}
.compact #players > *.current { color: rgb(130,153,145);}
.compact #frame-time,
.compact #frame-count,
.compact .name,
.compact .score,
.compact .time-left,
.compact #current-break { line-height: 20px; height: 20px; padding: 0 5px; background: #000 url(../images/bg.png) 0 0 repeat-x; border-radius: 4px; -moz-border-radius: 4px;border-right: 1px solid #333; border-bottom: 1px solid #333;}
.compact .lang { position: absolute; z-index: 100; top: 5px !important; }
#scoreboard.compact #frame-info { top: 0px; width: 180px; margin-left: -100px; height: 25px;}
#scoreboard.compact #frame-count { width: 50px; top: 0px; position: absolute; left: 0;}
.compact .score { width: 45px; height: 35px !important; line-height: 35px !important; position: absolute; text-align: center; font-size: 14pt; padding-right: 5px; bottom: 0px; z-index: 3;}
.compact #frame-time {display: none; }
.compact:first-child .score { top: -15px; bottom: auto;}
.compact .name { width: 165px; overflow: hidden; position: absolute; top: 0; z-index: 2;  }
.compact .time-left { width: 50px;  position: absolute;top: 0; text-align: center; z-index: 1; -webkit-transition: all .5s ease-in; -moz-transition: all .5s ease-in; -o-transition: all .5s ease-in;}
.compact .p1 { left: 0; }
.compact .p1 .lang { right: 70px; top: 0;}
.compact .p1 .score { right: 0;  }
.compact .p1 .name { right: 65px; text-align: right; padding-right: 30px; }
.compact .p1 .time-left { }
.compact .p1.current .time-left { }
.compact .p2 { right: 0; }
.compact .p2 .score { left: 0;  }
.compact .p2 .lang { left: 70px; top: 0; }
.compact .p2 .name { left: 65px; padding-left: 30px;}
.compact .p2 .time-left { right: 0; }
.compact .p2.current .time-left {  }
.compact #frame-time { width: 60px;  left: 50%; margin-left: -102px; top: 0px; position: absolute; text-align: center;color: rgb(130,153,145); z-index: 4;}
.compact #current-break { width: 60px;  left: 50%; margin-left: 30px; top: 0px; position: absolute; text-align: center;color: rgb(130,153,145); z-index: 4;}

.classic {position: absolute; bottom: 0; left: 62px;  width: 910px; background: #411a47; color: #f0f0f0; text-shadow: rgba(0,0,0,.5) -1px -1px 0; text-transform: uppercase;height: 30px; font-family: Arial, Helvetica, sans-serif !important; }

.classic #players { width: 100%; font-weight: bold}
.classic #players > * {position: absolute; height: 32px; top: -1px;width: 305px;}

.classic .p1 { left: 0; padding-left: 0px;}
.classic .p2 { right: 0;text-align: right; padding-right: 0px;}

.classic .score { position: absolute; height: 24px; line-height: 24px; background: #330d3c; top: 4px;width: 50px; text-align: center;}
.classic .p1 .score {right: -100px;  }
.classic .p2 .score {left: -100px;  }

.classic .lang { position: absolute; top: 11px; z-index: 100;}
.classic .p1 .lang { left: 40px; }
.classic .p2 .lang { right: 40px; }

.classic .name { line-height: 28px;background: #411a47; top: 2px; position: relative;z-index: 10;}
.classic .p1 .name  { padding-left: 65px;}
.classic .p2 .name  { padding-right: 65px; }
.classic #players .p1.current .name { background: #411a47 url(../images/classic-scoreboard-current-player-indicator.png) 0 -3px no-repeat; }
.classic #players .p2.current .name { background: #411a47 url(../images/classic-scoreboard-current-player-indicator.png) 100% -35px no-repeat; }
.classic #frame-info { position: absolute; width: 80px; background: #f1bb00; color: #000; top: -1px; left: 50%; height: 32px; margin-left: -40px; z-index: 100; text-shadow: none;}
.classic #frame-count { width: 80px; height: 32px; line-height: 32px; text-align: center; font-size: 1.2em;}
.classic #frame-count * {color: #000;}

.classic #frame-time { position: absolute; top: 32px; background: #411a47; left: 41px; color: #fff; width: 150px; text-align: center; font-size: 10pt;}
.classic #current-break { position: absolute; top: 32px; background: #411a47; right: 41px; color: #fff; width: 150px; text-align: center;font-size: 10pt;}

.classic .time-left { position: absolute; top: 3px;  background: #330d3c;width: 60px; text-align: center; height: 24px; line-height: 24px; -webkit-transition: all .5s ease-in; -moz-transition: all .5s ease-in; -o-transition: all .5s ease-in;}
.classic .p1 .time-left { left: 0px; }
.classic .p2 .time-left { right: 0px; }
.classic .p1.current .time-left { left: -60px; }
.classic .p2.current .time-left { right: -60px; }

.classic,
.classic #frame-time,
.classic #current-break,
.classic .time-left,
.classic #frame-info { -webkit-box-shadow: rgba(0,0,0,.4) 1px 1px 0px; /*border-top: 1px solid rgba(255,255,255,.1);*/}

* > .classic:first-child { top: -38px; left: 62px;}
* > .classic:first-child #current-break { top: -24px; }
* > .classic:first-child #frame-time{ top: -24px; }

/* TOP PANEL */
.top-panel { width: 100%; height: 25px; position: relative;cursor: pointer; background: rgba(0,0,0,.9); border-radius: 4px; -moz-border-radius: 4px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; -moz-border-radius-bottomleft: 0; -moz-border-radius-bottomright: 0;  -webkit-transition: all .2s ease-in; -moz-transition: all .2s ease-in; -o-transition: all .2s ease-in; background: #2f2f2f; background: #161616; background: none;border-bottom: 1px solid rgba(255,255,255,.08)}
.top-panel:hover { background: #222; }

/* TOGGLE BUTTON */
.toggle { position: absolute; top: 3px; right: 10px; content: "";width: 15px; height: 10px; border: 4px solid #ddd; cursor: pointer;border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; 
 -webkit-transition: all .2s ease-in; -moz-transition: all .2s ease-in; -o-transition: all .2s ease-in; }
.top-panel:hover .toggle,
.toggle:hover { background: #ddd;}
.hint { float: left;  margin: 0px 40px 0 10px; font-size: 10pt; line-height: 22px; position: relative; z-index: 5;}
.hint img { margin: -19px 10px -8px 5px; }

/* CONSOLE */
#console {  position: fixed; width: 98%; left: 0; top: 0px; z-index: 10; font-size: 10pt; line-height: 1.4em; padding: 0px 1%; box-shadow: #000 2px 2px 2px;-moz-box-shadow: #000 2px 2px 2px;-webkit-box-shadow: rgba(0,0,0,.8) 1px 1px 2px; background: #060606 url(../images/bg.png) 0 0 repeat; border-bottom: 1px solid #0f0f0f; }

#console .messages { list-style: none; margin: 38px 0 0px; padding: 0; height: 110px; overflow-y: scroll; }
#console .messages li { color: rgb(31,223,31);list-style: none; margin: 0; padding: 2px; }
#console .messages li.info { color: #ddd; }
#console .messages li.error { color: rgb(255,100,100); font-weight: bold; }
#console .input { margin: 10px 0% 7px; }
#console .input input { background: rgba(255,255,255,.15); border: none; width: 98%; display: block; padding: 5px 1%; color: rgba(255,255,255,.4); text-shadow: rgba(0,0,0,.75); outline: none; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}

#console.closed { /*height: 32px;*/ height: auto !important; overflow: hidden; background: rgba(0,0,0,.95); padding-bottom: 0; }
#console.closed > .input {display: none; }
#console.closed .messages { display: block; margin-top: 8px; margin-bottom: 10px; overflow: hidden; height: auto; }
#console.closed .messages > * { display: none;}
#console.closed .messages .last {display: block; padding: 3px 0 0px; text-align: center;margin: 0 auto; width: 800px; font-size: 14pt;position: relative;}
#console .top-panel { margin: 0 -1%; padding: 0 1%;position: absolute; top: 8px; left: auto; right: 1%; margin-top: -3px; width: 210px; border-bottom: none !important}
#console .hint { margin-left: 0; }

/* BLACK BOX */
.black-box {
box-shadow: #000 2px 2px 2px;-moz-box-shadow: #000 2px 2px 2px;-webkit-box-shadow: rgba(0,0,0,.8) 1px 1px 2px; background: #060606 url(../images/bg.png) 0 0 repeat; border: none;border-left: 1px solid rgba(255,255,255,.15); border-top: 1px solid rgba(255,255,255,.15); border-radius: 4px; -moz-border-radius: 4px;}


/* SETTINGS TABLE */
.settings { position: fixed; left: 50%;top: 50%; z-index: 20; padding-bottom: 66px;
}

.settings table { margin: 0; padding: 0; border-collapse:separate; width: 100%; border-spacing:0; height: 100%; border-bottom: 1px solid rgba(255,255,255,.07);}
.settings table tr:hover { background: rgba(0,0,0,.2); color: rgba(255,255,255,.8); }
.settings table tr.highlight { background: rgba(255,255,255,.05); font-weight: bold;}
.settings table tr.highlight * {color: #ddd;  font-weight: bold;}

.settings table tr:hover > * {color: rgba(255,255,255,.8) }
.settings table tr th { width: 40%;}
.settings table tr > * {  margin: 0; padding: 5px 10px; border-top: 1px solid rgba(255,255,255,.07); border-bottom: 1px solid rgba(0,0,0,.4);-webkit-transition: all .2s ease-in; -moz-transition: all .2s ease-in; /*-o-transition: all .2s ease-in;*/ }
.settings table tr:first-child > * { border-top: none; }
.settings table th { border-right: 1px solid rgba(0,0,0,.4); text-align: right; }
.settings table th:after { content: ":"; }
.settings table td { border-left: 1px solid rgba(255,255,255,.07); padding-right: 30px;}
.settings table tr th { font-size: 13pt; }

.actions { margin: 0; padding: 8px 0 4px; width: 100%; position: absolute; bottom: 5px; }
.actions ul { padding: 0; margin: 0 10px 0 0; list-style: none; float: right;}
.actions ul li { float: left; margin: 0 0 0 20px; padding: 0; list-style: none;}

/* WRAPPER */
.wrapper { width: 100%; height: 100%;background: rgba(0,0,0,.6); position: fixed; left: 0%; top: 0%; margin: 0;z-index: 40; }
.wrapper.closed { width: 0; height: 0;}

/* SETTINGS */
#settings { margin-left: -200px; margin-top: -245px;  width: 400px;  height: 430px; z-index: 40; }
#settings .toggle { /*position: absolute;right: 15px; top: 10px;z-index: 20;*/}
#settings .avatar { float: right; margin: -10px -20px -50px -50px; width: 50px; height: 50px;}
.sound-volume {width: 80%; margin: 0 auto; height: 10px; position: relative; background: rgba(255,255,255,.1); border-radius: 5px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; cursor: pointer;}
.sound-volume .handle { height: 20px; width: 10px; background: rgba(255,255,255,.6);border-radius: 5px;  -moz-border-radius: 5px; -webkit-border-radius: 5px; top: -5px; position: absolute; left: 10px; cursor: pointer;} 

.wrapper.closed #settings { top: 100%;left: 110px;margin-left: 0; margin-top: -25px; width: 110px;}

/* ENTER NAME */
#enter-name { width: 300px; height: 60px; margin-left: -150px; margin-top: -45px;}
.closed #enter-name { display: none; }

/*=== DASHBOARD ======*/
#dashboard { z-index: 20;width: 966px; height: 492px; top: 50%; left: 50%; margin: -248px 0 0 -487px; position: fixed; color: rgba(255,255,255,.6); text-shadow: rgba(0,0,0,.45) 1px 1px 0; }

#dashboard #options { margin: 10px 15px 15px; padding: 0; list-style: none; float: left; height: 20px; }
#dashboard #options li { margin: 0 10px 0 0; padding: 0; list-style: none; float: left; }
#options input {  width: 200px; text-align: center;}

button { line-height: 1em; position: relative; color: #c6deb7; text-shadow: rgba(0,0,0,.75) 1px 1px 0; border: none;border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; padding: 5px 15px;  margin: 0; 
background: url(../images/button-bg.png) 0 0 repeat; }
button:focus { outline: none; }
button:hover { background-position: 0 -30px; }
button[disabled="disabled"],
button[disabled] {color: #444 ;text-shadow: none; background-position: 0 -60px; }

#dashboard #player-count { float: right; margin: 10px 10px -30px 0; }

#dashboard #servers .status { font-size: 40pt; position: absolute; top: 215px; left: 0; text-align: center;width: 100%; display: none;}
#dashboard #servers .status a { text-decoration: none; }
#dashboard #servers { clear: left; height: 300px; overflow-y: scroll;}
#dashboard #servers > table { margin: 0; padding: 0; border-collapse: separate;width: 100%; font-size: 10pt; border-spacing:0;text-align: left; border-bottom: 1px solid rgba(255,255,255,.07); }
#dashboard #servers > table tr > * {  margin: 0; padding: 2px 15px; border-top: 1px solid rgba(255,255,255,.1); border-bottom: 1px solid rgba(0,0,0,.6);-webkit-transition: all .2s ease-in; -moz-transition: all .2s ease-in; -o-transition: all .2s ease-in;  }
#dashboard #servers > table tr:first-child { background: rgba(255,255,255,.05) !important; text-align: left; color: #aaa !important;}
#dashboard #servers > table tr th { text-align: left /*ie8*/ }
#dashboard #servers > table tr > * { border-right: 1px solid rgba(0,0,0,.4);  border-left: 1px solid rgba(255,255,255,.07); }
#dashboard #servers > table tr:hover { background: rgba(255,255,255,.05); color: rgba(255,255,255,.8); }
#dashboard #servers > table tr.selected { background: rgba(50,255,55,.2); color: rgba(255,255,255,.8); }
#dashboard #servers table .lang { margin-right: 5px; margin-top: 1px; margin-bottom: -1px;}

/*HOST SERVER*/
#host-server{ margin-left: -200px; margin-top: -155px;  width: 400px;  height: 220px; z-index: 20;}
#enter-password{ margin-left: -200px; margin-top: -35px;  width: 400px;  height: 40px; z-index: 20;}

/*COMMON POPUP*/
.common-popup { position: fixed; top: 50%; left: 50%; width: 400px; margin: -100px 0 0 -200px; }
.closed .common-popup { display: none; }
.common-popup .actions { position: relative; }

/*LOUNGE general !!! */ 
.lounge .players a { text-decoration: none; cursor: pointer;}
.lounge .players li { float:left; margin: 8px 0px 1px 10px; list-style: none; padding: 0 8px 0 22px; list-style-position: inside; background: url(../skins/default/images/pool-assets/balls/green.png) 5px 50% no-repeat; -webkit-background-size: 8px; -moz-background-size: 8px; -o-background-size: 8px; background-size: 8px;}
.lounge .players li .lang { float: left; margin: 3px 0 -5px -22px; border: 1px solid #000; border-bottom-color: #333; border-right-color: #333}
.lounge .players .selected { border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; /*background-color: #111;*/ font-weight: bold; color: #2de02d; background-image: url(../skins/default/images/pool-assets/balls/white.png) ;}
.lounge .players .selected a { color: #ccc; }
.lounge .players .inactive a { color: #777; }

/*LOUNGE in the #dashboard*/
#dashboard .lounge { border: none; border-top: 1px solid #333; float: left; width: 100%; }
#dashboard .lounge .container { padding: 0px; margin:5px 10px;}
#dashboard .lounge .players { height: 87px; margin: -5px -10px -5px 0; padding: 0 0 5px; overflow-y: scroll;}

.closed #dashboard {  top: 100%; margin-top: -25px;margin-left: 0; left: 230px; width: 125px;position: fixed; }

.wrapper.closed #host-server,
.wrapper.closed #enter-password { display: none; }

/* POWER BAR */
#power-bar-wrapper { padding: 10px; position: absolute; top: 79px; left: 6px;}
#power-bar { position: relative; width: 17px; height: 377px; background: #030303; border-right: 1px solid #242424; border-bottom: 1px solid #242424; border-radius: 4px; -moz-border-radius: 4px;-webkit-border-radius: 4px; cursor: pointer;}
#power-bar-wrapper:hover #power-bar,
#power-bar:hover { background: #090909; }
#power-meter { width: 16px; height: 373px; position: absolute; bottom: 1px; left: 2px;border-radius: 2px; -moz-border-radius: 2px;}

/* SERVER INFO BOX */
div.server-info { z-index: 15; padding: 5px 10px; position: absolute; top: 450px; left: 50%; width: 400px;  margin: 0px 0 -100px -225px; text-align: center; font-size: 11pt; background: rgba(0,0,0,.95); border-left: 1px solid rgba(255,255,255,.15); border-top: 1px solid rgba(255,255,255,.15); border-radius: 20px; -webkit-border-radius: 20px; -moz-border-radius: 20px; color: #eee; text-shadow: rgba(0,0,0,.45) 1px 1px 0;-webkit-box-shadow: rgba(0,0,0,.8) 1px 1px 0; z-index: 40; border: 4px solid #eee; /*border: 1px solid rgba(255,255,255,.3);border: none;*/ }

/* GAME INFO BOX */
div.game-info { padding: 5px 10px; position: absolute; top: 75px; left: 50%; width: 400px; margin-left: -230px; z-index: 10; text-align: center; font-size: 11pt; background: rgba(0,0,0,.8); border-left: 1px solid rgba(255,255,255,.15); border-top: 1px solid rgba(255,255,255,.15); border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; color: #eee; text-shadow: rgba(0,0,0,.45) 1px 1px 0;-webkit-box-shadow: rgba(0,0,0,.8) 1px 1px 0; z-index: 40; border: 4px solid #eee; border: none;}
div.game-info .actions { margin-top: 20px;position: relative; border-top: 1px solid #111;background: none;}

/* SUMMARY ===*/
.summary { width: 500px; margin: -95px 0 0 -250px; position: fixed; top: 50%; left: 50%; z-index: 41;}
.summary .result { margin: 20px; font-size: 1.5em; line-height: 1.3em; text-align: center; } 
.summary .what-next { padding: 0 15px 50px; text-align: right; font-style: italic; font-size: 10pt; margin: 30px 0 -10px;}

/* HELP BOX */
#help { width: 300px; height: 160px; margin: 0; position: fixed; right: 40px; top: 210px; /*background: rgba(0,0,0,.5) !important;*/ border: none;border-left: 1px solid rgba(255,255,255,.15); border-top: 1px solid rgba(255,255,255,.15);}
#help #controls { margin: 0; padding: 0; font-size: 10pt; width: 100%;float: left;}
#help #controls dt { list-style: circle;}
#help #controls dt:after { content: " - "; }

#help.closed { height: 30px; overflow: hidden; width: 90px; top: 100%; left: auto; right: 418px; bottom: 71px; margin-top: -25px; background: rgba(0,0,0,.95); }

/* == FRAME STATS */
#frame-stats { width: 300px; height: 85px; margin: 0; position: fixed; right: 40px; top: 380px; /*background: rgba(0,0,0,.5) !important;*/ border: none;border-left: 1px solid rgba(255,255,255,.15); border-top: 1px solid rgba(255,255,255,.15);}
#frame-stats.closed { right: 0; top: 100%; margin-top: -25px; height: 30px; width: 140px;}
/* RULES BOX */
#rules { width: 600px; height: 500px; margin: -260px 0 0 -300px; position: fixed; left: 50%; top: 50%; }
.container { margin: 20px; font-size: 10pt; }
#rules .container { line-height: 1.2em; }
.wrapper.closed #rules { width: 95px; height: 30px; overflow: hidden;right: 312px; left: auto; margin: 0; top: 100%; margin-top: -25px;}
/*maybe global?*/
#rules img { margin: 0 2px -4px 0; }

/* #BROWSER DETECT */
#browser-detect { position: fixed; top: 50%; left: 50%; width: 500px;padding: 0px; margin: -180px 0 0 -250px; }

/*.closed #browser-detect { display: none; }*/
#browser-detect h2 { font-size: 2.2em; letter-spacing: 2pt; font-weight: normal; margin: 0; padding: 20px 20px 20px;}
#browser-detect p { margin: 20px 0; padding: 0 20px;}

/* ABOUT */ 
#about { width: 1020px; height: 562px; top: 50%; left: 50%; margin: -280px 0 0 -511px; position: fixed; }
#about .container { margin: 20px; font-size: 10pt; line-height: 1.2em;}

/* COMMUNITY */
#community { position: relative; z-index: 9999;}

/* COMMUNITY MENU */
#community-menu { position: fixed; top: 100%; width: 100px; left: 0; margin-top: -25px; z-index: 9999; -webkit-transition: all .5s ease-in; -moz-transition: all .5s ease-in; -o-transition: all .5s ease-in; border-top: 1px solid #eee; }
#community-menu:hover { margin-top: -160px; }

#community-menu > .top-panel { background: #bbb;}
#community-menu > .top-panel .hint strong{ color: #111 !important;}

#community-menu .categories { margin: 0; padding: 0; list-style: none; }
#community-menu .categories li { margin: 5px 0; padding: 0 10px; list-style: none; border-top: 1px solid rgba(255,255,255,.1); font-size: 10pt;}
#community-menu .categories li:first-child { border-top: none; }
#community-menu .categories li a { text-decoration: none; }

/* WELCOME SCREEN */
#welcome-screen { position: fixed; top: 50%; left: 50%; width: 500px; padding: 0px 0 30px; margin: -150px 0 0 -250px; }
#welcome-screen h2 { font-size: 2.2em; letter-spacing: 2pt; font-weight: normal; margin: 0; padding: 30px 20px 10px;}
#welcome-screen p { margin: 20px 0; padding: 0 20px;}

/* NEWS ===*/
#news { width: 600px; height: 440px; position: fixed; top: 50%; left: 50%; margin: -220px 0 0 -300px; }
.closed > #news { display: none; }
#news ul { margin: 0; padding: 0 20px; list-style: none; }
#news ul li { margin: 0; padding: 0; list-style: none; }

#news h2 { color: #099509; font-weight: normal; margin-bottom: 0; padding-bottom: 1em; font-size: 2em;}
#news time { display: block; margin-top: 1em; text-align: right; font-size: 1em}

/* CREDITS */
#credits { width: 400px; margin: -140px 0 0 -200px; position: fixed; top: 50%; left: 50%; padding-bottom: 30px;}
#credits p { text-align: center; }
.closed #credits { display: none; }

/* MATCH OPTIONS */
#match-options { position: fixed; top: 50%; left: 50%;width: 220px; margin: -80px 0 0 -110px;}
#match-options .actions { position: static; }
#match-options .actions ul { margin: 0; padding: 0; display: block; margin: 0 auto; float: none;}
#match-options .actions li { margin: 0 auto 10px; width: 150px; padding: 0; float: none;}
#match-options .actions li button { width: 150px; }
.closed #match-options{ left: auto; right: 151px; top: 100%; margin: -25px 0 0 0px; height: 30px; width: 150px;}

/*LOUNGE in the #match-options*/ /*move it somewhere else later perhaps?*/
#match-options .lounge { position: fixed; top: 50%; left: 50%; width: 400px; margin: -160px 0 0 -200px; }
#match-options .lounge.closed { display: none; }
#match-options .lounge .players { margin: 10px 0 0; padding: 0px; float: left; height: 150px; overflow-y: scroll; width: 100%; border: 1px solid #333; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
#match-options .lounge .players li { float: left; }
#match-options .lounge .actions { position: static; float: right; margin: 10px 0 10px;}
#match-options .lounge .actions ul { margin: 0; padding: 0; display: block; margin: 0 auto; float: none;}
#match-options .lounge .actions ul li { margin: 0 0 0 10px; float: right; width: auto; }
#match-options .lounge .actions ul li button { width: auto; }

/* SOCIAL */
.social { position: fixed; top:0; left: 1%; z-index: 3000; width: 70px; padding: 9px 0px 0; margin: 0px 0 0;border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;border: none !important;}

#bug-tracker { position: fixed; top: 50%; left: 50%; width: 800px; margin: -230px 0 0 -400px; padding: 0px;}
.closed #bug-tracker { height: 30px; overflow: hidden; width: 100px; margin: -25px 0 0; top: 100%; left: 402px; border-color: #660606;}
.closed #bug-tracker .top-panel,
.closed #bug-tracker { background: #440606; }
#bug-tracker form { margin: 0; padding: 20px; width: 760px; float: left;}
#bug-tracker input { width: 180px; }
#bug-tracker .col { float: left; width: 50%;}
#bug-tracker .ctrlHolder { margin: 5px 0px; float: left; }
#bug-tracker label { width: 175px !important;float: left; }
#bug-tracker .clear { clear: both; }
#bug-tracker .ticket_data { width: 100%; }
#bug-tracker input#name { width: 750px; }
#bug-tracker textarea#ticketBody { width: 750px; height: 100px;}
#bug-tracker .attach_files_max_size { width: 710px !important; }
#bug-tracker .captcha input { float: right; margin-left: 10px;}
#bug-tracker label em { color: red; font-size: 1.5em; }
#bug-tracker .buttonHolder { clear: both; float: left; width: 100%; }
#bug-tracker .buttonHolder button { float: right; }

/* STACKING ORDER */
#pool,
#scoreboard { z-index: 100; }

#help,
#rules,
#match-options { z-index: 125; }

div.game-info { z-index: 125; }

.summary { z-index: 250; }

#match-options { z-index: 30; }

.wrapper { z-index: 500; }
.wrapper.topmost { z-index: 999; }

#console { z-index: 2000; }

.common-popup,
div.server-info { z-index: 4000; }

.social { z-index: 6000; }
.furjbqy { z-index: 6000; } /*leave feedback widget*/


/* FEEDBACK OVERRIDE */
.furjbqy { border: 5px solid #222 !important; border-right: none !important; top: 50% !important; left: auto !important; right: 0 !important; margin-top: -70px !important; position: fixed !important; z-index: 9999 !important; height: auto !important; }
.furjbqy table { height: auto !important; }