/* http://pordesign.eu */

/*======GENERAL======*/

body { color: #999;background-repeat: no-repeat; background-position: 50% 50%; background-color: #855927; }

.extended .p1 .score,
.extended .p2 .score { background: url(../images/bg/score.png) 0 0 no-repeat; }
.extended .name { background: url(../images/bg/name.png) 0 0 no-repeat;}
.extended  .time-left { background: url(../images/bg/time-left.png) 0 0 no-repeat; }
.extended #players > * {color: #3b2721; }
.extended #players > *.current,
.extended #frame-time, 
.extended #frame-info,
.extended #frame-count { color: #85755f;}
#scoreboard.extended #frame-info {background: url(../images/bg/frame-info.png) 0 0 no-repeat; background: url(../images/bg/scoreboard.png) -112px 50%;}

#power-meter {  background: url(../images/power-bar.png) 0 100% no-repeat; }

#pool { background: url(../images/pool-assets/table.png) 0 0 no-repeat; }